@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Open Sans' sans-serif;
    font-weight: 300;
    background-color:#1F2937;
   
    
}

h1{
    font-weight: bold;
}


.form-container{
    
    background: url("https://w0.peakpx.com/wallpaper/750/902/HD-wallpaper-starry-sky-clouds.jpg")no-repeat 50% 40%/cover;
    image-rendering: crisp-edges;

    height: auto;
    @apply w-2/4 p-5 rounded-3xl
}

.alert-notice::after{
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50;
    margin-left: 2px;
    margin-top: -3px;
    @apply animate-ping bg-pink-800;
}